<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="consumerKey" value ="*consumerKey*"/>
    <add key="consumerSecret" value ="*consumerSecret*"/>
    <add key="tokenValue" value ="*tokenValue*"/>
    <add key="tokenSecret" value ="*tokenSecret*"/>
  </appSettings>
</configuration>